$dark-color: #000000;
$white-color: #fff;
$light-pink: #F58D90;
$orange-meteora: #F87F46;
$green-meteora: #DAFF01;
$hamburger-background: #343A40;
$hamburguer-bottom: #CED4DA;
$meteora-purple: #9353FF;